@CHARSET "UTF-8";

body
{
    margin: 0;
    padding: 0;
}

#container{
    margin:0 20px 0 20px;
    padding:0 20px 0 20px;
    background-color:#F4F9FF;
}

/*
#content {
    background-color:#FFFFFF;

}
*/

#anchors{
    position:fixed;
    top: 10px;
    right: 100px;
    background-color:#D9E5FF;

    border:3px solid #446CC7;
}
