* {padding:0; margin:0;}

        body { 
            font: 14px/1.4 Georgia, serif; 
            padding:0;
            margin:0;
            background-color:#F4F9FF;
        }


        #main {  
            float: left; 
            margin-right:30px;  
            width:70%;
        }
        
        #anchors {    
            float: left;    
            border:3px solid #446CC7;  
            border-radius: 15px;
            padding:5px;
            
        }
        #wrap{
        margin:135px 15px 10px 15px;
        padding:15px 15px 10px 15px;
        float:left;
        background-color:#FFFFFF;
        }
        
        .bigBlock{
       
        }

